allowed.origins:
  https://klage-dittnav.dev.nav.no,
  https://klage.dev.nav.no,
  http://localhost:8080,
  http://localhost:3000

PDL_BASE_URL: https://pdl-api.dev-fss-pub.nais.io/graphql
FOERSTESIDEGENERATOR_BASE_URL: https://klage-fss-proxy.dev-fss-pub.nais.io/genererfoersteside
SAFSELVBETJENING_BASE_URL: https://safselvbetjening.dev-fss-pub.nais.io

PDL_AUDIENCE: dev-fss:pdl:pdl-api
PDL_SCOPE: dev-fss.pdl.pdl-api
SAFSELVBETJENING_AUDIENCE: dev-fss:teamdokumenthandtering:safselvbetjening
FSS_CLUSTER: dev-fss

#These are read from the environment:
#DB_HOST
#DB_USERNAME
#DB_PASSWORD
#SERVICE_USER_PASSWORD
#STS_APIKEY
#PDL_APIKEY

DRAFT_CLEANUP_CRON: 0 13 13 * * *
MAX_DRAFT_AGE_IN_DAYS: 90

TENANT_ID: 966ac572-f5b7-4bbe-aa88-c76419c0f851

spring:
  datasource:
    hikari:
      maximum-pool-size: 5