spring:
  flyway:
    clean-on-validation-error: false

allowed.origins:
  https://klage-dittnav.nav.no,
  https://klage.nav.no,

logging:
  level:
    root: INFO

#Token validation
no.nav.security.jwt:
  issuer.selvbetjening:
    discoveryurl: ${LOGINSERVICE_IDPORTEN_DISCOVERY_URL}
    accepted_audience: ${LOGINSERVICE_IDPORTEN_AUDIENCE}
    cookiename: selvbetjening-idtoken
  issuer.azuread:
    discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
    accepted_audience: ${AZURE_APP_CLIENT_ID}

KAFKA_BOOTSTRAP_SERVERS: a01apvl00145.adeo.no:8443,a01apvl00146.adeo.no:8443,a01apvl00147.adeo.no:8443,a01apvl00148.adeo.no:8443,a01apvl00149.adeo.no:8443,a01apvl00150.adeo.no:8443
KAFKA_CLIENTID: klage-dittnav-api
KAFKA_TOPIC: aapen-klager-klageOpprettet

PDL_BASE_URL: https://api-gw.oera.no/pdl-api/graphql
SECURITY_TOKEN_SERVICE_REST_URL: https://api-gw.oera.no/security-token-service/
SERVICE_USER_USERNAME: srvklage-dittnav

CLAM_AV_URL: http://clamav.clamav/scan

FILE_BASE_URL: http://klage-file-api

KLAGE_FILE_API_CLIENT_ID: 877b5cc3-89e9-4822-b7b1-ca6749ef7cd0

#These are read from the environment:
#DB_HOST
#DB_USERNAME
#DB_PASSWORD
#SERVICE_USER_PASSWORD
#STS_APIKEY
#PDL_APIKEY

DRAFT_CLEANUP_CHECK_CRON: 0 0 13 * * WED
MAX_DRAFT_AGE_IN_DAYS: 180