allowed.origins:
  https://klage-dittnav.dev.nav.no,
  https://klage.dev.nav.no,
  http://localhost:8080,
  http://localhost:3000


PDL_BASE_URL: https://pdl-api.dev-fss-pub.nais.io/graphql
SECURITY_TOKEN_SERVICE_REST_URL: https://api-gw-q1.oera.no/security-token-service/

PDL_SCOPE: dev-fss.pdl.pdl-api

#These are read from the environment:
#DB_HOST
#DB_USERNAME
#DB_PASSWORD
#SERVICE_USER_PASSWORD
#STS_APIKEY
#PDL_APIKEY

DRAFT_CLEANUP_CRON: 0 0 14 * * FRI
MAX_DRAFT_AGE_IN_DAYS: 90