spring:
  application:
    name: klage-dittnav-api
  datasource:
    url: jdbc:postgresql://${DB_HOST}:5432/klage
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 4
      minimum-idle: 1
  main:
    banner-mode: OFF
  flyway:
    table: "schema_version"
    clean-on-validation-error: true
  sleuth:
    propagation-keys:
      - Nav-Callid
      - Nav-Consumer-Id
    log:
      slf4j:
        whitelisted-mdc-keys:
          - Nav-Callid
          - Nav-Consumer-Id
  servlet:
    multipart:
      #       Size limitations are also handled by app itself to get nice fault messages, but this setting seems to fail faster?
      max-request-size: 8MB
      max-file-size: 8MB
  codec:
    max-in-memory-size: 10MB
server:
  port: 7070
  error:
    whitelabel:
      enabled: false

management:
  endpoint:
    health:
      show-details: always
  endpoints.web:
    exposure:
      include: info, health, metrics, prometheus
    base-path: "/internal"
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}

#Token validation
no.nav.security.jwt:
  issuer.selvbetjening:
    discoveryurl: ${LOGINSERVICE_IDPORTEN_DISCOVERY_URL}
    accepted_audience: ${LOGINSERVICE_IDPORTEN_AUDIENCE}
    cookiename: selvbetjening-idtoken
  issuer.azuread:
    discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
    accepted_audience: ${AZURE_APP_CLIENT_ID}
  issuer.tokenx:
    discoveryurl: ${TOKEN_X_WELL_KNOWN_URL}
    accepted_audience: ${TOKEN_X_CLIENT_ID}
  client:
    registration:
      pdl-onbehalfof:
        token-endpoint-url: ${TOKEN_X_TOKEN_ENDPOINT}
        grant_type: urn:ietf:params:oauth:grant-type:token-exchange
        client_assertion_type: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
        subject_token_type: urn:ietf:params:oauth:token-type:jwt
        audience: ${PDL_SCOPE}
        authentication:
          client-id: ${TOKEN_X_CLIENT_ID}
          client-jwk: ${TOKEN_X_PRIVATE_JWK}
          client-auth-method: private_key_jwt
        token-exchange:
          audience: ${PDL_SCOPE}
      klage-fss-proxy-onbehalfof:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: client_credentials
        scope: api://dev-fss.klage.klage-fss-proxy/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt

maxAttachmentSize: 8MB
maxTotalSize: 32MB

navCallId: Nav-Callid
navConsumerId: Nav-Consumer-Id

ALL_FULLMAKT_OMRAADER: "*"

KLAGE_FILE_API_APP_NAME: klage-file-api

CLAM_AV_URL: http://clamav.clamav/scan

FILE_BASE_URL: http://klage-file-api

KABAL_API_BASE_URL: http://kabal-api
KABAL_API_APP_NAME: kabal-api

KAFKA_TOPIC: klage.privat-klage-mottatt-v1
INTERNAL_EVENT_TOPIC: klage.klage-dittnav-api-internal-events.v1

SERVICE_USER_USERNAME: srvklage-dittnav

KLAGE_DITTNAV_PDF_SERVICE_URL: http://klage-dittnav-pdfgen/api/v1/genpdf/klage-dittnav-pdfgen/

logging:
  level:
    root: INFO