ingress: https://klage-dittnav-api.dev.nav.no
externalHosts:
  - api-gw-q1.oera.no
springProfile: dev-gcp

envs:
  - name: JAVA_TOOL_OPTIONS
    value: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
  - name: JAVA_OPTS
    value: "-Xms256m -Xmx512m"
kafka_pool: nav-dev