apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: klage-dittnav-api
  namespace: klage
  labels:
    team: klage
spec:
  image: {{ image }}
  azure:
    application:
      enabled: true
  port: 7070
  liveness:
    path: /internal/health
    initialDelay: 20
    timeout: 1
    periodSeconds: 5
    failureThreshold: 10
  readiness:
    path: /internal/health
    initialDelay: 20
    timeout: 1
  resources:
    limits:
      cpu: 2000m
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 512Mi
  ingresses:
    - {{ingress}}
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 90
  prometheus:
    enabled: true
    path: /internal/prometheus
  gcp:
    sqlInstances:
      - type: POSTGRES_11
        databases:
          - name: klage
            envVarPrefix: DB
  secureLogs:
    enabled: true
  webproxy: true
  tokenx:
    enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: klage-dittnav
        - application: klage-arkiver-journalpost
    outbound:
      external:
        {{#each externalHosts as |host|}}
        - host: {{host}}
        {{/each}}
        - host: login.microsoftonline.com
        - host: hooks.slack.com
      rules:
        - application: klage-file-api
        - application: clamav
          namespace: clamav
  envFrom:
    - secret: srvklage-dittnav
    - secret: sts-apikey
    - secret: pdl-apikey
    - secret: slack-url
    - secret: slack-channel-id
    - configmap: loginservice-idporten
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: {{springProfile}}
    - name: JAVA_OPTS
      value: "-Xms256m -Xmx512m"