apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: klage-dittnav-api
  namespace: klage
  labels:
    team: klage
spec:
  image: {{ image }}
  port: 7070
  liveness:
    path: isAlive
    initialDelay: 20
    timeout: 1
    periodSeconds: 5
    failureThreshold: 10
  readiness:
    path: isReady
    initialDelay: 20
    timeout: 1
  resources:
    limits:
      cpu: 2000m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi
  ingresses:
    - https://klage-dittnav-api.dev-gcp.nais.io
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 90
  prometheus:
    enabled: true
    path: /metrics
  gcp:
    sqlInstances:
      - type: POSTGRES_11
        databases:
          - name: klage
            envVarPrefix: DB
  secureLogs:
    enabled: true
  webproxy: true
  accessPolicy:
    inbound:
      rules:
        - application: klage-dittnav
