apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: klage-dittnav-api
  namespace: klage
  labels:
    team: klage
spec:
  image: {{ image }}
  port: 7070
  liveness:
    path: /internal/health
    initialDelay: 20
    timeout: 1
    periodSeconds: 5
    failureThreshold: 10
  readiness:
    path: /internal/health
    initialDelay: 20
    timeout: 1
  resources:
    limits:
      cpu: 2000m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi
  ingresses:
    - https://klage-dittnav-api.dev-gcp.nais.io
    - https://klage-dittnav-api.dev-nav.no
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 90
  prometheus:
    enabled: true
    path: /internal/prometheus
  gcp:
    sqlInstances:
      - type: POSTGRES_11
        databases:
          - name: klage
            envVarPrefix: DB
  secureLogs:
    enabled: true
  webproxy: true
  accessPolicy:
    inbound:
      rules:
        - application: klage-dittnav
    outbound:
      external:
        - host: api-gw-q1.oera.no
  envFrom:
    - secret: srvklage-dittnav
    - secret: sts-apikey
    - secret: pdl-apikey
  env:
  - name: SPRING_PROFILES_ACTIVE
    value: dev-gcp
