name: Deploy kafka topics

on:
  push:
    branches:
      - master
    paths:
      - kafka-aiven/**
      - '!kafka-aiven/README.md'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cluster: [dev, prod]
        topic: [privat-klage-mottatt-v1, klang-api-internal-events.v1]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: deploy kafka-topic ${{ matrix.topic }} to ${{ matrix.cluster }}
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ matrix.cluster }}-gcp
          RESOURCE: kafka-aiven/${{ matrix.topic }}/topic.yaml
          VARS: kafka-aiven/${{ matrix.topic }}/${{ matrix.cluster }}-vars.yaml
          PRINT_PAYLOAD: true
